/* Hamburge menu media */
@media only screen and (max-width: 992px){
    header .container .nav .hamburger-menu{
        display: block !important;
    }
    header .container .nav ul{
        display: none !important;
    }
}
@media olny screen and (max-wdith: 1021px){
    main .section-1 .container .row .col-12 h1{
        font-size: 300% !important;
    }
}